<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'utils/header.html' %}
  </head>
  <body>
    {% include 'client/sidebarmenu.html' %}
      <h1 class="font-medium text-3xl p-2 bg-blue-500 rounded-xl text-white ">
        Nos Produits:
      </h1>

      {%for classe in classes%}
      <h1
        class="font-medium text-2xl p-2 border-b-{{classe.couleur}}-600 border-b-2 shadow-2xl"
      >
        {{classe.nom}}
      </h1>
      <div class="flex flex-wrap justify-center items-center  gap-3 bg-{{classe.couleur}}-300 p-0 h-auto">
        {%for produit in produits%}
        {%if produit.classe == classe.id%}
        <div
          class="w-64 h-min flex flex-col items-center justify-between rounded-xl shadow-2xl bg-white m-5"
        >
          <div class="flex gap-3 m-5 flex-col justify-center items-center">
              <div class="font-bold">{{produit.nom}}</div>
              <img src="{{produit.image}}" class="h-28 rounded-xl"/>
          </div>
          <div class="flex flex-row items-center justify-end m-5 gap-5">
            <div class="font-bold">{{produit.prix}}€</div>
            <button
              id="produit-button-{{produit.id_produit}}"
              onclick="ajouter_panier({{produit.id_produit}})"
              class="text-white rounded-xl px-2 py-1 bg-green-500 hover:bg-green-600"
            >
              Ajouter
            </button>
          </div>
        </div>
        {%endif%}
        {%endfor%}
      </div>
      {%endfor%}


    </div>
    <script>
    </script>
  </body>
</html>
