<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Réservations</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {% include 'client/sidebarmenu.html' %}

     <h1 class="font-medium text-3xl p-2 bg-blue-500 rounded-xl text-white">
            Vos Reservations:
          </h1>
          <div class="flex flex-wrap justify-center items-center gap-3 bg-gray-300 p-0 my-3 h-auto rounded-md">
            {%for reservation in liste_reservation%}
            {%for i in range(reservation.quantite)%}
            <div
            class="w-64 h-min flex flex-col items-center justify-between rounded-xl shadow-2xl bg-white m-5"
          >
            <div class="flex gap-3 m-5 flex-col justify-center items-center">
                <div class="font-bold">{{reservation.nom}}</div>
                <img src="{{reservation.image}}" class="h-28 " />
            </div>
            <div class="flex flex-row items-center justify-end m-5 gap-5">
              <div class="font-bold">{{reservation.prix}}€</div>
              <button
                id="produit-button-{{reservation.id_produit}}-{{i}}"
                class="text-white rounded-xl px-2 py-1 bg-red-500 hover:bg-red-600"
              >
                Retirer
              </button>
            </div>
          </div>
            {%endfor%}
            {%endfor%}
        </div>
          </div>
        </div>
</body>