<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'utils/header.html' %}
</head>
<body>
  {% include 'dashboard/sidebarmenu.html' %}
  <h1 class="font-medium text-3xl p-2 bg-blue-500 rounded-xl text-white lg:ml-[250px] ml-[100px] max-lg:ml-12 mr-2">
    Reservations:
  </h1>
  <div class="lg:ml-[250px] ml-2 max-lg:ml-2">
    
  {%for classe in classes%}
      <h1
        class="font-medium text-2xl p-2 border-b-{{classe.couleur}}-600 border-b-2 shadow-2xl"
      >
        {{classe.nom}}
      </h1>
      <div class="flex flex-wrap justify-center items-center  gap-3 bg-{{classe.couleur}}-300 p-0 h-auto">
        {%for reservation in liste_reservation%}
        {%if reservation.classe == classe.id%}
    <div
    class="w-64 h-min flex flex-col items-center justify-between rounded-xl shadow-2xl bg-white m-5"
  >
    <div class="flex gap-3 m-5 flex-col justify-center items-center">
      <div class="font-bold">{{reservation.nom}}</div>
        <div class="flex justify-center items-center gap-6">
          <div class=" flex flex-col justify-center items-center">
            <div>{{reservation.prenom}}</div>
            <div>{{reservation.nom_client}}</div>
          </div>
          <img src="{{reservation.image}}" class="h-28 "/>
        </div>
        </div>
    <div class="flex flex-row items-center justify-end m-5 gap-5">
      <div class="font-bold">{{reservation.prix}}€</div>
      <button
        onclick="retirerProduit({{reservation.id_reservation}})"
        id="produit-button-{{reservation.id_produit}}-{{i}}"
        class="text-white rounded-xl px-2 py-1 bg-red-500 hover:bg-red-600"
      >
        Retirer
      </button>
    </div>
  </div>
  {%endif%}
  {%endfor%}
</div>
{%endfor%}
  </div>
  </div>
</div>
<script>
  async function retirerProduit(id_reservation) {
    try {
      const response =await fetch("/api/retirerreservation", {
      method: "POST",
      body: JSON.stringify({id_reservation: id_reservation}),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
    const json = await response.json()

    window.setTimeout('history.go(0)', 100)
  } catch (error) {
    console.error(error.message);
  }
  }
</script>
</body>